body {
  border-top:  15px solid $light-green;
  // background: linear-gradient(135deg, rgba(189,244,229,1) 0%, rgba(247,223,226,1) 100%);
}

main {
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.1);
}

.grid-wrapper {
  @include outer-container;
}

.grid-small {
  @include media($large-screen-up) {
    padding: 0 ($xlarge-spacing * 4);
  }
}

.section {
  padding: $xlarge-spacing 0;
}

.section-header {
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: $large-spacing;
}

.hero {
  // @include animation(slideDown 0.6s .55s 1 forwards);
  @include animation-delay(.55s);
  background: linear-gradient(rgba(255, 255, 255, 0.70), rgba(255, 255, 255, 0.70)), image-url("snowmass.png");
  // background: $white;
  background-size: cover;
  border-bottom: 1px solid $super-light-gray;
  text-align: center;
  width: auto;
}

.nav {
  padding: $medium-spacing $large-spacing 0;

}

.r-icon {
  @include size(3em 2em);
  background: image-url("arrrr.svg");
  background-repeat: no-repeat;
  float: left;
}

.about-link {
  color: $base-font-color;
  font-size: $font-small;
  float: right;
  letter-spacing: 1px;

  &:hover {
    color: $base-font-color;
  }
}

.hero-header {
  @include animation(slideUp 0.8s .85s 1 backwards);
  color: #404041;
  font-size: $font-medium;
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: $base-spacing;
  padding: 160px 0 15px;

  @include media($large-screen-up) {
    font-size: $font-large;
    margin-bottom: $large-spacing;
  }

  a {
    color: $base-font-color;
    text-decoration: underline;
  }
}


.btn {
  @extend .btn;
  @include animation(slideUp 0.75s);
  @include animation-delay(.85s);
  @include transition (all, linear, 0.3s);
  background: $light-green;
  border-radius: em(25);
  color: $base-font-color;
  font-size: $font-small;
  letter-spacing: 1px;
  margin: em(70) auto em(130);
  padding: $base-spacing ($large-spacing * 1.5);

  &:hover {
    background: $light-green;
    color: $base-font-color;
    cursor: pointer;
  }
}

.btn--dribbble {
  margin-right: $small-spacing;
}

.arrow {
  @include size(em(50) em(50));
  background: image-url('arrow.svg') no-repeat;
  display: block;
  margin: $large-spacing auto;
}


#my-work {
  background: $white;
  text-align: center;
}

.grid-row {
  @include clearfix;
  margin-bottom: $base-spacing;
}

.featured-work {
  color: $base-font-color;
  text-align: left;

  @include media($large-screen-up) {
    @include omega(2n);
    @include span-columns(6);
  }

  &:hover {
    color: $base-font-color;
    cursor: pointer;
  }
}

.featured-work--1 {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.150)),
      image-url("../images/zaarly-shot.png");
  background-size: cover;
  background-position: top;
  border: 1px solid $super-light-gray;
  height: 250px;
}

.featured-work--2 {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.150)),
      image-url("../images/coupon.png");
  background-size: cover;
  background-position: top;
  height: 250px;
}

.featured-work--3 {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.150)),
      image-url("../images/dashboard.png");
  background-size: cover;
  background-position: top;
  height: 250px;
  margin-top: $large-spacing;

}

.featured-work--4 {
  background-image:
    linear-gradient(
      rgba(255, 255, 255, 0.20), rgba(255, 255, 255, 0.150)),
      image-url("../images/pds-icons.png");
  background-size: cover;
  background-position: top;
  height: 250px;
  margin-top: $large-spacing;
}

.featured-work-description {
  background-color: lighten($super-light-gray, 5%);
  padding: $large-spacing 0;
}

.featured-work--title {
  font-size: $base-font-size;
  font-weight: 600;
}

.featured-work--subtitle {
  font-size: $font-small;

  .btn {
    &:first-of-type {
      margin-right: $small-spacing;
    }
  }
}

.featured-work--buttons {
  text-align: center;
  padding-bottom: $xlarge-spacing;
}

.animated {
  @include animation(slideUp 0.75s);
}

.line {
  border-bottom: 2px solid $light-green;
  margin: 0 auto em(70);
  width: em(250);
}

.green-btn {
  @extend .btn;
  border: 2px solid $light-green;
  color: $light-green;
  display: inline-block;

  &:hover {
    color: white;
    background: $light-green;
    border: 1px solid $light-green;
    cursor: pointer;
  }
}

.footer {
  background: $white;
  clear: both;
  text-align: center;
  padding: $xlarge-spacing 0;

  h2 {
    color: $light-gray;
  }

  a {
    @include size(em(50));
    display: inline-block;
    margin: em(10) em(10) em(50);
    fill-color: red;

    &:hover {
      cursor: pointer;
    }
  }
}

.mail {
  background: image-url('mail.svg') no-repeat;
}
.twitter {
  background: image-url('twitter.svg') no-repeat;
}
.dribbble {
  background: image-url('dribbble.svg') no-repeat;
}
.instagram {
  background: image-url('instagram.svg') no-repeat;
}
.github {
  background: image-url('github.svg') no-repeat;
}
.linkedin {
  background: image-url('linkedin.svg') no-repeat;
}
