.section--skills {
  @include clearfix;
  text-align: center;
}

.skill {
  background: $light-green;
  border-radius: 35px;
  display: inline-block;
  font-size: $font-small;
  margin: $small-spacing $xsmall-spacing 0 0;
  padding: $xsmall-spacing $large-spacing;
}
