.section--skills {
  @include clearfix;

  @include media($medium-screen-up) {
    text-align: center;
  }
}

.skill {
  border-bottom: 1px dashed $light-gray;
  display: inline-block;
  font-size: $font-small;
  margin: $small-spacing $medium-spacing 0 0;
  padding: $xsmall-spacing;
}
