.section--speaking {
  background: $very-light-pink;
  position: relative;

  li {
    padding-bottom: $small-spacing;
  }
}

.speaking-event {
  padding-top: $base-spacing;
  text-align: center;

  @include media($medium-screen-up) {
    @include span-columns(6);
    @include omega(2n);
    text-align: left;
  }
}

.speaking-section {
  @include clearfix;
  margin-top: $base-spacing;
}

.speaking-section-header {
  padding-bottom: $base-spacing;
}

.speaking--logo {
  height: 40px;
  margin: 0 auto $base-spacing;

  @include media($medium-screen-up) {
    margin: 0;
  }
}

.speaking-logo--droidcon {
  width: 40px;
}

.speaking-logo--wwc {
  width: 60px;
}

.speaking-logo--turing {
  width: 100px;
}

.speaking-logo--thoughtbot {
  width: 40px;
}

a.speaking--title {
  color: $base-font-color;
  text-decoration: underline;

  &:hover {
    color: $base-font-color;
  }
}

.speaking--subtitle {
  color: $light-gray;
  font-size: $font-small;
}

.speaking--date {
  @extend .speaking--subtitle;
  text-transform: uppercase;
}
