.section--speaking {
  position: relative;
}

.speaking-section {
  @include clearfix;
  margin-top: $base-spacing;
}

.speaking-event--main {

  @include media($medium-screen-up) {
    @include span-columns(8);
    padding-right: $large-spacing;
    text-align: left;
  }
}

.speaking-event--past {
  padding-top: $large-spacing;

  @include media($medium-screen-up) {
    @include span-columns(4);
    text-align: left;
  }
}

.speaking-section-header {
  padding-bottom: $base-spacing;
}

.speaking-event {
  @include clearfix;
  padding-top: $small-spacing;
}

.speaking-event-type {
  color: $light-gray;
  font-size: $font-small;
  padding-bottom: $base-spacing;
  text-transform: uppercase;
}

.speaking-summary {
  color: $medium-gray;
  font-size: $font-small;
  padding: $small-spacing 0;
}

.speaking-event-details {
  display: inline-block;
  float: left;
  padding-left: $small-spacing;
  width: 75%;
}

.speaking-title--main {
  clear: both;
  font-weight: 400;
  padding-top: $small-spacing;
}

.speaking-logo {
  display: inline-block;
  float: left;
  height: 40px;
  margin: 0 auto $base-spacing;

  @include media($medium-screen-up) {
    margin: 0;
  }
}

.speaking-logo--droidcon {
  width: 175px;
}

.speaking-logo--wwc,
.speaking-logo--turing {
  width: 30px;
}

.speaking-logo--thoughtbot {
  width: 25px;
}

a.speaking-title {
  color: $base-font-color;
  text-decoration: underline;

  &:hover {
    color: $base-font-color;
  }
}

.speaking-subtitle {
  color: $light-gray;
  font-size: $font-small;
}

.blog {
  margin-top: $large-spacing;
}

a.blog--title{
  &:hover {
    color: $pink;
  }
}

.blog--date {
  @include media($medium-screen-up) {
    float: right;
  }
}

.blog--row {
  border-top: 1px dashed $light-gray;
  clear: both;
  padding: $medium-spacing 0;

  &:last-of-type {
    border-bottom: 1px dashed $light-gray;
  }
}
