.section--testimonial {
  background: $very-light-green;
  text-align: center;
}

.testimonial-content {
  font-weight: $regular-font-weight;
  font-size: $base-font-size;

  @include media($medium-screen-up) {
    font-size: 1.7em;
  }
}

.testimonial-author {
  font-weight: $regular-font-weight;
  padding-top: $small-spacing;
}

.testimonial-position {
  font-weight: $regular-font-weight;
}
