.writing {
  a {
    text-decoration: none;
  }
}

.blog-post--title {
  font-size: $font-small;
  color: $base-font-color;
}

.writing-image {
  background-position: center;
  background-size: cover;
  border: 5px solid $super-light-gray;
  height: 200px
}

.writing-image--animations {
  background: image-url("animations.png");
  background-position: center;
  background-size: cover;
}

.writing-image--transitions {
  background: image-url("transitions.png");
  background-position: center;
  background-size: cover;
}

.writing-title {
  padding: $large-spacing;
}
