.writing {
  background: $very-light-pink;

  a {
    text-decoration: none;
  }

  @include media($medium-screen-up) {
    @include span-columns(6);
  }
}

.writing-image {
  background-position: center;
  background-size: cover;
  border: 5px solid $very-light-pink;
  height: 200px
}

.writing-image--animations {
  background: image-url("animations.png");
  background-position: center;
  background-size: cover;
}

.writing-image--transitions {
  background: image-url("transitions.png");
  background-position: center;
  background-size: cover;
}

.writing-title {
  padding: $large-spacing;
}
