---
title: Rachel Cope - Designer
---

%section.main-header
  .background
  .wrapper
    %h1 Rachel Cope
    %h5 Adventurer, reader, philanthropist, epicure, <span>designer @thoughtbot</span>
    %a.header-btn(href="mailto:rachelcope@gmail.com") Contact me
    %a.arrow(href='#my-work')
%section#my-work
  .wrapper
    %h2.section-header My Work
    .line.animate
    %ul.jribbble
    %a.btn.green-btn(href="https://dribbble.com/rachelcope") More on Dribbble

%section.about-me
  .wrapper
    %h2.section-header.animate About Me
    .line
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    #instafeed
    %a.green-btn(href="https://instagram.com/rachelcope") More on Instagram

%footer.footer
  .wrapper
    %h2.section-header Stay in touch
    .line
    %a.mail(href="mailto:rachelcope@gmail.com")
    %a.twitter(href="https://twitter.com/rachelcope")
    %a.dribbble(href="https://dribbble.com/rachelcope")
    %a.instagram(href="https://instagram.com/rachelcope")
    %a.github(href="https://github.com/rachelcope")
    %a.linkedin(href="https://linkedin.com/rachelcope")
